PORT=3000
PUBLIC_API_BASE_URL=http://localhost:3000
WEB_BASE_URL=http://localhost:5173
CPOAUTH_BASE_URL=https://auth.luogu.me

DB_HOST=localhost
DB_PORT=3306
DB_USER=app
DB_PASSWORD=app
DB_NAME=app

REDIS_HOST=localhost
REDIS_PORT=6379
